autoflake
autopep8
black
ffmpeg-python
flake8
gradio
huggingface_hub>=0.20.2
httpx>=0.28.0
isort
jinja2>=3.0.0
mypy
numpy
onnxruntime>=1.16.0
openai
pdfplumber
pip-tools
playwright
pre-commit
pydantic
pypdf>=3.15.1
pytest
pytest-bdd>=4.1.0
pytest-playwright
pytest-xdist
python-dotenv
radon
reportlab
requests
rope
selenium
torch>=2.2.0
transformers>=4.40.0
types-requests
webdriver-manager
wemake-python-styleguide
xenon
yapf
